In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats
import plotly.express as px
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler, Normalizer, StandardScaler, LabelEncoder
sns.set()
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import preprocessing
import plotly.graph_objects as go
import warnings
warnings.filterwarnings("ignore")

In [21]:
import sys,os
sys.path.insert(0, '../scripts/')
from data_preProcessing import dataProcessor
from data_exploration import dataExplorer
from data_cleaning import dataCleaner
from data_scaler import dataScaler

In [22]:
#load data
train_df = pd.read_csv("../data/merged.csv")
train_df.head()

,Trip ID,Trip Origin,Trip Destination,Trip Start Time,Trip End Time,order_id,driver_id,driver_action,lat,lng,completion_minutes,status,trip_st_date,is_holiday,Tr_or_latitude,Tr_or_longitude,Distance
0,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36,392001,243828,accepted,6.602207,3.270465,3.616667,1,2021-07-01,False,6.601042,3.276634,694.263614
1,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36,392001,243588,rejected,6.592097,3.287445,3.616667,0,2021-07-01,False,6.601042,3.276634,1551.694105
2,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36,392001,243830,rejected,6.596133,3.281784,3.616667,0,2021-07-01,False,6.601042,3.276634,786.776508
3,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36,392001,243539,rejected,6.596142,3.280526,3.616667,0,2021-07-01,False,6.601042,3.276634,692.053650
4,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36,392001,171653,rejected,6.609232,3.288800,3.616667,0,2021-07-01,False,6.601042,3.276634,1621.848107

In [23]:
## data info
pp = dataProcessor(train_df)
pp.show_data_information()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1347078 entries, 0 to 1347077
Data columns (total 17 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   Trip ID             1347078 non-null  int64
 1   Trip Origin         1347078 non-null  object
 2   Trip Destination    1347078 non-null  object
 3   Trip Start Time     1347078 non-null  object
 4   Trip End Time       1347078 non-null  object
 5   order_id            1347078 non-null  int64
 6   driver_id           1347078 non-null  int64
 7   driver_action       1347078 non-null  object
 8   lat                 1347078 non-null  float64
 9   lng                 1347078 non-null  float64
 10  completion_minutes  1347078 non-null  float64
 11  status              1347078 non-null  int64
 12  trip_st_date        1347078 non-null  object
 13  is_holiday          1347078 non-null  bool
 14  Tr_or_latitude      1347078 non-null  float64
 15  Tr_or_longitude     1347078 non-null  float64
 16  Distance            1347078 non-null  float64
dtypes: bool(1), float64(6), int64(4), object(6)
memory usage: 165.7+ MB

In [24]:
train_df.shape

(1347078, 17)

In [25]:
pp.columns_WithMissingValue()

[]

In [26]:

train_df["driver_action"] = np.where(train_df["driver_action"] == "accepted",1 , 0)
train_df.head()

,Trip ID,Trip Origin,Trip Destination,Trip Start Time,Trip End Time,order_id,driver_id,driver_action,lat,lng,completion_minutes,status,trip_st_date,is_holiday,Tr_or_latitude,Tr_or_longitude,Distance
0,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36,392001,243828,1,6.602207,3.270465,3.616667,1,2021-07-01,False,6.601042,3.276634,694.263614
1,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36,392001,243588,0,6.592097,3.287445,3.616667,0,2021-07-01,False,6.601042,3.276634,1551.694105
2,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36,392001,243830,0,6.596133,3.281784,3.616667,0,2021-07-01,False,6.601042,3.276634,786.776508
3,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36,392001,243539,0,6.596142,3.280526,3.616667,0,2021-07-01,False,6.601042,3.276634,692.053650
4,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36,392001,171653,0,6.609232,3.288800,3.616667,0,2021-07-01,False,6.601042,3.276634,1621.848107

In [27]:
train_df.drop('is_holiday',inplace=True,axis=1)

In [28]:
train_df.head()

,Trip ID,Trip Origin,Trip Destination,Trip Start Time,Trip End Time,order_id,driver_id,driver_action,lat,lng,completion_minutes,status,trip_st_date,Tr_or_latitude,Tr_or_longitude,Distance
0,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36,392001,243828,1,6.602207,3.270465,3.616667,1,2021-07-01,6.601042,3.276634,694.263614
1,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36,392001,243588,0,6.592097,3.287445,3.616667,0,2021-07-01,6.601042,3.276634,1551.694105
2,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36,392001,243830,0,6.596133,3.281784,3.616667,0,2021-07-01,6.601042,3.276634,786.776508
3,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36,392001,243539,0,6.596142,3.280526,3.616667,0,2021-07-01,6.601042,3.276634,692.053650
4,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36,392001,171653,0,6.609232,3.288800,3.616667,0,2021-07-01,6.601042,3.276634,1621.848107

In [29]:
pp.show_data_information()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1347078 entries, 0 to 1347077
Data columns (total 16 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   Trip ID             1347078 non-null  int64
 1   Trip Origin         1347078 non-null  object
 2   Trip Destination    1347078 non-null  object
 3   Trip Start Time     1347078 non-null  object
 4   Trip End Time       1347078 non-null  object
 5   order_id            1347078 non-null  int64
 6   driver_id           1347078 non-null  int64
 7   driver_action       1347078 non-null  int64
 8   lat                 1347078 non-null  float64
 9   lng                 1347078 non-null  float64
 10  completion_minutes  1347078 non-null  float64
 11  status              1347078 non-null  int64
 12  trip_st_date        1347078 non-null  object
 13  Tr_or_latitude      1347078 non-null  float64
 14  Tr_or_longitude     1347078 non-null  float64
 15  Distance            1347078 non-null  float64
dtypes: float64(6), int64(5), object(5)
memory usage: 164.4+ MB

## Labeling

In [30]:
from sklearn import preprocessing

le = preprocessing.LabelEncoder()
train_df['Trip Origin'] = le.fit_transform(train_df['Trip Origin'])
train_df['Trip Destination'] = le.fit_transform(train_df['Trip Destination'])

In [31]:
train_df['Trip Start Time'] = le.fit_transform(train_df['Trip Start Time'])
train_df['Trip End Time'] = le.fit_transform(train_df['Trip End Time'])

In [32]:
pp.show_data_information()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1347078 entries, 0 to 1347077
Data columns (total 16 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   Trip ID             1347078 non-null  int64
 1   Trip Origin         1347078 non-null  int64
 2   Trip Destination    1347078 non-null  int64
 3   Trip Start Time     1347078 non-null  int64
 4   Trip End Time       1347078 non-null  int64
 5   order_id            1347078 non-null  int64
 6   driver_id           1347078 non-null  int64
 7   driver_action       1347078 non-null  int64
 8   lat                 1347078 non-null  float64
 9   lng                 1347078 non-null  float64
 10  completion_minutes  1347078 non-null  float64
 11  status              1347078 non-null  int64
 12  trip_st_date        1347078 non-null  object
 13  Tr_or_latitude      1347078 non-null  float64
 14  Tr_or_longitude     1347078 non-null  float64
 15  Distance            1347078 non-null  float64
dtypes: float64(6), int64(9), object(1)
memory usage: 164.4+ MB

## Conversion of types

In [33]:
#conversion of types
train_df['lat'] = train_df['lat'].astype(int)
train_df['lng'] = train_df['lng'].astype(int)
train_df['completion_minutes'] = train_df['completion_minutes'].astype(int)
train_df['Distance'] = train_df['Distance'].astype(int)

In [34]:
pp.show_data_information()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1347078 entries, 0 to 1347077
Data columns (total 16 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   Trip ID             1347078 non-null  int64
 1   Trip Origin         1347078 non-null  int64
 2   Trip Destination    1347078 non-null  int64
 3   Trip Start Time     1347078 non-null  int64
 4   Trip End Time       1347078 non-null  int64
 5   order_id            1347078 non-null  int64
 6   driver_id           1347078 non-null  int64
 7   driver_action       1347078 non-null  int64
 8   lat                 1347078 non-null  int64
 9   lng                 1347078 non-null  int64
 10  completion_minutes  1347078 non-null  int64
 11  status              1347078 non-null  int64
 12  trip_st_date        1347078 non-null  object
 13  Tr_or_latitude      1347078 non-null  float64
 14  Tr_or_longitude     1347078 non-null  float64
 15  Distance            1347078 non-null  int64
dtypes: float64(2), int64(13), object(1)
memory usage: 164.4+ MB

## Scaling

In [35]:
sc = dataScaler(train_df)

In [37]:
train_df.drop(['trip_st_date','Tr_or_latitude','Tr_or_longitude'],axis=1,inplace=True)

In [38]:
scale_list = train_df.columns.to_list()
sc.standardize_columns(scale_list)

,Trip ID,Trip Origin,Trip Destination,Trip Start Time,Trip End Time,order_id,driver_id,driver_action,lat,lng,completion_minutes,status,Distance
0,-1.951356,1.162884,-1.127166,-1.972742,-1.996640,-1.951356,0.431229,8.197324,-0.000862,-0.000862,-0.432759,15.554280,-1.052894
1,-1.951356,1.162884,-1.127166,-1.972742,-1.996640,-1.951356,0.420804,-0.121991,-0.000862,-0.000862,-0.432759,-0.064291,-0.246701
2,-1.951356,1.162884,-1.127166,-1.972742,-1.996640,-1.951356,0.431316,-0.121991,-0.000862,-0.000862,-0.432759,-0.064291,-0.966348
3,-1.951356,1.162884,-1.127166,-1.972742,-1.996640,-1.951356,0.418676,-0.121991,-0.000862,-0.000862,-0.432759,-0.064291,-1.054776
4,-1.951356,1.162884,-1.127166,-1.972742,-1.996640,-1.951356,-2.703749,-0.121991,-0.000862,-0.000862,-0.432759,-0.064291,-0.180851
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1347073,1.574685,0.170689,0.767680,1.605322,1.601711,1.574685,-2.725684,-0.121991,-0.000862,-0.000862,-0.181146,-0.064291,-1.112159
1347074,1.574685,0.170689,0.767680,1.605322,1.601711,1.574685,0.441740,-0.121991,-0.000862,-0.000862,-0.181146,-0.064291,0.522804
1347075,1.574685,0.170689,0.767680,1.605322,1.601711,1.574685,0.503940,-0.121991,-0.000862,-0.000862,-0.181146,-0.064291,-0.648387
1347076,1.574685,0.170689,0.767680,1.605322,1.601711,1.574685,0.432619,-0.121991,-0.000862,-0.000862,-0.181146,-0.064291,-1.106515
1347077,1.574685,0.170689,0.767680,1.605322,1.601711,1.574685,0.408816,-0.121991,-0.000862,-0.000862,-0.181146,-0.064291,-1.103693

In [39]:
train_df.drop(['order_id'],axis=1,inplace=True)

## Save model ready data

In [40]:
train_df.to_csv('../data/modelData.csv', index=False)